body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

header{
    background: #d68e97;
    line-height: 3px;
    color: #fff;
    margin: ;
    padding: 10px;
    word-break: break-word !important;
}

footer {
    position: absolute;
    margin-bottom: 0%;
    background-color: #d68e97;
    width: 100%;
    padding: 0px;
    color: white;
    font-size: 0.9em;

}

main{
    
    
}


  

a{
   color: #fff;
}
.toggle, [id] {
display: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}

#logo{
    display: block;
    padding: 0px;
    float: left;
    line-height: 10px;
    margin-right: 30px;
    margin-left: 30px;
    
}

 #kurv{
    display: block;
    padding: 0px;
    float: right;
    line-height: 10px;
   
    margin-top: 15px;
   
    
}



/*farve på hover navigationsmenuen*/
nav ul li ul li:hover{
    background-color: bisque;
}

/*får linksne til at forsvinde navigationsmenuen*/
nav ul ul{
    display: none;
    position: absolute;
    top: 50px;
}

nav ul ul li{
    width: 125px;
    float: none;
    display: list-item;
    position: relative;
    text-align: center;
    margin: 0.8px;
}

nav ul ul ul li{
    position: relative;
    top: -71px;
    left: 105px;
}

nav ul li:hover>ul{
    display: inherit;
}


/*---------------------------------burgermenuen responsiv*/
#main-toggle {
    cursor: pointer;
    float: right;
    padding: 28px 28px;
    position: relative;
    user-select: none;
}

.nav-icon {
    background: white;
    display: block;
    height: 3px;
    width: 30px;
    position: relative;
}

.nav-icon:before,
.nav-icon:after{
    background: white;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* tykkelsen på burgermenu stregerne*/

.nav-icon:before{
    top:10px;
}

.nav-icon:after{
    top:-10px;
}

nav:after{
    content: "";
    display: table;
    clear: both;
}
/* slut-----------------------------*/

nav ul{
    padding: 20px;
    margin: 0px;
    list-style: none;
    font-family: ------------
}

nav ul li{
    margin-left: 40px;
    float: left;
    background-color: #d68e97;
    display: inline-block;
}

nav a{
    display: block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}

/*-- burgerbar i mobil---------------------------*/
@media all and (max-width:810px){
    nav {
        margin: 0;
    }
    
    nav ul{
        float: none;
    }
    
    .toggle+a,
    .menu{
        display: none;
    }
    
    .toggle{
        display: block;
        background-color: #d68e97;
        padding: 0 20px;
        font-size: 15px;
        line-height: 30px;
        text-decoration: none;
        border: none;
    }
    
    [id^=drop]:checked+ul{
      display: block;
    }
    nav ul li{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }
    nav ul ul .toggle,
    nav ul ul a{
        padding: 0 30px;
    }
    nav ul ul ul a{
        padding: 0 80px;
        background-color: mistyrose;
    }
    
    
    nav ul ul{
        float: none;
        position: static;
        color:white;
    }
    
     nav ul ul li:hover>ul,
    nav ul li:hover>ul{
        display: none;
    }
    nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul ul li{
        position: static;
    }
   
    
    .kontaktlink{
        margin: 0;
    }
    
    #logo{
    margin: 0;
    width: 100px;
    display: ;
        
    }
    
    
    
}

kontaktlink{
    float: right;
    margin-right: 40px
}



/* content!!
-----------------------------------------------------------------------------*/







h2 {
    text-align: center;
    color: #d68e97;
}

/*Dette er vores break-streg som dukker op flere gange undervejs i vores side*/



hr {
   
    display: block; 
    height: 1.5px;
    border: 0; 
    border-top: 1px solid #d68e97;
    margin: auto; 
    padding: 0;
    text-align: center;
    width: 80%;
    
} 


/* her er forsiden*/


.bannere{
    width: 100%;
}

/* Her starter vores første section som kommer under landing siden*/
.vippefremvisning {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.vippeudpluk {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Dette er vores produktbox som går igen på flere af vores undersider*/
.produktbox {
    background-color: #d68e97;
    color: white; 
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.produktimg {
    width: 130px;
    opacity: 0.75;
}

/*Denne bruges til samtlige knapper hele vejen igennem siden*/
.knap {
    padding: 10px;
    border: 1px;
    border-color: #d68e97;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}


/*Her starter vores 2. section. Det er en lille section med et billede og lidt tekst*/
#kvalibillede {
    width: 30%;
    height: 30%;
}

#kvalitetsvipper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

#kvalitext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/*_________________________________________________*/






/*Kode om os */

.omimg {
    width: 50%;
    height: auto;
}

#om1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.9em;
    width: 100%;
    
}


#om2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9em;
    width: 100%;
}

.omp {
    width: 290px;
}

/*-- KONTAKTSIDE---------------------------*/

.kontakt-overskrift {
    text-align: center;
    color: #d68e97;
    font-size: 30px;
    margin: 30px;
    font-family:----------------;
    line-height: 30px;
}

.p-brodtekst-kontakt{
margin: 15px;
line-height: 20px;
text-align: center;   
}

.container-kontakt {
    display: flex;flex-wrap;
    margin: 10px;
    text-align: center;
}

.h2-kontakt{
    margin: 5px;
    padding: 10px;
    text-align: center;
}










