/* /* Eric Meyer's CSS Reset */
/*
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/ 
/* HTML5 display-role reset for older browsers */

/*
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

/*
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/

/*
.header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
/*
.content {
	padding: 0 0 100px;
}




/* Footer
-----------------------------------------------------------------------------*/
/*
.footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	background: #BFF08E;
	position: relative;
}
*/




body {
    padding: 0;
    margin: 0;
    font-family: avenir;
}


* {
    box-sizing: border-box;
}



header {
    background: #C96974;
    opacity: 75%;
    width: 100%;
    padding: 10px;
    bottom: 0;
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #C96974;
    width: 100%;
    padding: 0px;
    color: white;
    font-size: 0.9em;

}


#logo-burger {
    display: flex;
    align-items: center;
    margin: 0 .5em;
}

#logo-burger a {
    margin-right: auto;
    width: 100px;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;

}

#main-nav a:hover {
    color: white;
    text-decoration: underline;
}


.active {
    color: lightgrey;
}


.hidden {
    display: none;
}

/*MEDIA QUERY MOBILE */

@media all and (max-width: 590px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    
    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        
    }


    #toggle:checked + #main-nav {
        display: block;
    }

   
    #main-nav {
        display: none;
    }

    #main-nav a {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }


   

    .spaceboks {}



    


   


}

/*MEDIA QUERY TABLET AND ABOVE*/

@media all and (min-width: 600px) {

    /*HEADER NAV*/
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
     
    }


    #main-nav {
        justify-content: space-evenly;
        min-width: 50%;
        /*sikrer at menupunkterne ikke presses sammen*/
        margin: 0;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    
    label {
        display: none;
    }


    s

   
   


}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*NAVIGATION*/
    nav {
        flex-direction: row;
    }

    
    #logo-burger {
        margin-right: auto;
    }



 






    

    }











